﻿@model IDEIBiblio.Models.Item

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Item</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Autor.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Autor.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Genero.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Genero.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Titulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Titulo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Preco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Preco)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Paginas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Paginas)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataPublicacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataPublicacao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sinopse)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sinopse)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GUID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GUID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UrlImg)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UrlImg)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
