﻿@model IDEIBiblio.Models.Item

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Item</legend>

        @Html.HiddenFor(model => model.ItemID)

        <div class="editor-label">
            @Html.LabelFor(model => model.AutorID, "Autor")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AutorID", String.Empty)
            @Html.ValidationMessageFor(model => model.AutorID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GeneroID, "Genero")
        </div>
        <div class="editor-field">
            @Html.DropDownList("GeneroID", String.Empty)
            @Html.ValidationMessageFor(model => model.GeneroID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Titulo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Titulo)
            @Html.ValidationMessageFor(model => model.Titulo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Preco)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Preco)
            @Html.ValidationMessageFor(model => model.Preco)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Paginas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Paginas)
            @Html.ValidationMessageFor(model => model.Paginas)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataPublicacao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataPublicacao)
            @Html.ValidationMessageFor(model => model.DataPublicacao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sinopse)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sinopse)
            @Html.ValidationMessageFor(model => model.Sinopse)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GUID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GUID)
            @Html.ValidationMessageFor(model => model.GUID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UrlImg)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UrlImg)
            @Html.ValidationMessageFor(model => model.UrlImg)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
