﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Erro.</h1>
    <h2 class="error">Ocorreu um erro ao tentar processar o seu pedido.</h2>
</hgroup>
