﻿@{
    ViewBag.Title = "Sobre";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <section>
        <header>Tecnologias utilizadas</header>
        <p>
            Este website foi construido utilizando as tecnologias Microsoft ASP.NET MVC 4, com a camada de acesso a dados gerida por EntityFramework 5.0.         
        </p>
        <p>
            Partes da estrutura e alguns mecanismos (por exemplo, shopping cart) baseados no tutorial <a href="http://www.asp.net/mvc/tutorials/mvc-music-store">MVC Music Store</a>, de Jon Galloway (2011)
        </p>
    </section>
</article>

<article>
    <section>
    <header>
        <h3>Desenvolvido por</h3>
    </header>
    <p>
        <span>Pedro Leal, 1110863, Dez-2013</span>
    </p>
    </section>
</article>