﻿@{
    ViewBag.Title = "Contactos";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Contacto Telefónico</h3>
    </header>
    <p>
        <span class="label">Telemovel:</span>
        <span>912345678</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Suporte:</span>
        <span><a href="mailto:1110863@isep.ipp.pt">1110863@isep.ipp.pt</a></span>
    </p>>
</section>