﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Simulação de Website de compra de livros e revistas para a disciplina de Arquitetura de Sistemas, criado utilizando a tecnologia ASP.NET MVC 4
            </p>
        </div>
    </section>    
}
<section>
        <h3>Pesquise nalgumas das nossas editoas patrocinadas!</h3>
        <div style="text-align: center">
            <iframe src="http://uvm044.dei.isep.ipp.pt/~webserver/serverside/widgethost.php" width="510" height="360" style="border-width: 0px"></iframe>
        </div>
</section>

