﻿@model IDEIBiblio.Models.Compra

@{
    ViewBag.Title = "Dados";
}

<h2>Dados</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Compra</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PrimeiroNome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PrimeiroNome)
            @Html.ValidationMessageFor(model => model.PrimeiroNome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UltimoNome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UltimoNome)
            @Html.ValidationMessageFor(model => model.UltimoNome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Morada)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Morada)
            @Html.ValidationMessageFor(model => model.Morada)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Localidade)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Localidade)
            @Html.ValidationMessageFor(model => model.Localidade)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CodigoPostal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CodigoPostal)
            @Html.ValidationMessageFor(model => model.CodigoPostal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Pais)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pais)
            @Html.ValidationMessageFor(model => model.Pais)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telefone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telefone)
            @Html.ValidationMessageFor(model => model.Telefone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <p>
            <input type="submit" value="Comprar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar ao carrinho", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
