﻿@model IDEIBiblio.Models.Compra

@{
    ViewBag.Title = "Sumário e Envio";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Compra</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PrimeiroNome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrimeiroNome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UltimoNome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UltimoNome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Morada)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Morada)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Localidade)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Localidade)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CodigoPostal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CodigoPostal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Pais)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pais)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telefone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
    <div class="display-label">
         <h3>@Html.DisplayNameFor(model => model.Total)</h3>
    </div>
    <div class="display-field">
        <h4>&euro;@Html.DisplayFor(model => model.Total)</h4>
    </div>

    @if (Model.TotalPag > 0)
    {
        <div class="display-label">
            <h3>Serviço de Entregas</h3>
        </div>
        <div>
            <ul>
                @foreach (var item in Model.ssr)
                {
                    <li class="Opt">
                        @item.ShippingService (+ &euro;@item.Price)
                        @Html.RadioButton("uniqueRadio", item, false)
                    </li>
                }
            </ul>
        </div>
    }

</fieldset>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
<p>
    <input type="hidden" name="hidden" value="@Model.CompraID" />
    <input type="submit" value="Encomendar" />
</p>
}
