﻿@model IDEIBiblio.Models.Item

@{
    ViewBag.Title = "Detalhes";
}

<h2>@Html.DisplayFor(model => model.Titulo) | @ViewBag.Title</h2>
<fieldset>
    <legend>@Html.DisplayFor(model => model.Titulo)</legend>
    <table>
        <tr>
            <td>
                <div style="vertical-align:top;">
                    <img src="@Html.DisplayFor(model => model.UrlImg)" width="200" height="300" />
                </div>
            </td>
            <td>
                <div class="display-label">
                     <h4>@Html.DisplayNameFor(model => model.Genero)</h4>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Genero.Nome)
                </div>
                <div class="display-label">
                     <h4>@Html.DisplayNameFor(model => model.Autor)</h4>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Autor.Nome)
                </div>

                 <div class="display-label">
                     <h4>@Html.DisplayNameFor(model => model.DataPublicacao)</h4>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.DataPublicacao)
                </div>

                <div class="display-label">
                     <h4>@Html.DisplayNameFor(model => model.GUID)</h4>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.GUID)
                </div>

                <div class="display-label">
                     <h4>@Html.DisplayNameFor(model => model.Sinopse)</h4>
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Sinopse)
                </div>
            </td>
        </tr>
    </table>
    <p>
        <h3>@Html.DisplayNameFor(model => model.Preco):</h3> &euro;@Html.DisplayFor(model => model.Preco)
    </p>
    <p class="button">
        @Html.ActionLink("Adicionar ao Carrinho", "Adicionar", "Carrinho", new { id = Model.ItemID }, "")
    </p>
</fieldset>