﻿@model IEnumerable<IDEIBiblio.Models.Item>

@{
    ViewBag.Title = "Filtrar";
}

<h2>Género <i>@ViewBag.genero</i></h2>
@{
    if(Model.Count() == 0)
    {
        <i><p class="label">Sem títulos</p></i>
    }
    else
    {
        foreach (var item in Model)
        {
            <table>
                <tr>
                    <td>
                        <img width="96" height="66" src="@item.UrlImg" />
                    </td>
                    <td>
                        <a class="label" href="@Url.Action("Detalhes", new { id = item.ItemID })">@item.Titulo</a> de @item.Autor.Nome, @item.DataPublicacao.Year
                    </td>
                </tr>
            </table>
        }
    }
}

@Html.ActionLink("Voltar à listagem completa", "Index", "Loja")

