﻿@model IEnumerable<IDEIBiblio.Models.Genero>
<label>Géneros</label>
<ul id="generos_lateral">
    @foreach (var genero in Model)
    {
        <li>@Html.ActionLink(genero.Nome, "Filtrar", "Loja", new { genero = genero.Nome }, null)</li>
    }
</ul>