﻿@{
    ViewBag.Title = "Catálogo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div id="lateral" style="float: left;">
    @{Html.RenderAction("GenerosLateral", "Loja");}
</div>
<div style="float: right;">
    @{Html.RenderAction("Sugestoes", "Sugestao");}
</div>
<div id="listagem" style="float: left;">
        @foreach (var item in Model)
        {
            <table>
                <tr>
                    <td>
                        <img width="96" height="66" src="@item.UrlImg" />
                    </td>
                    <td>
                        <a class="label" href="@Url.Action("Detalhes", new { id = item.ItemID })">@item.Titulo</a> de @item.Autor.Nome, @item.DataPublicacao.Year
                    </td>
                </tr>
            </table>
        }
</div>