﻿@model IEnumerable<IDEIBiblio.ViewModels.ComparacaoPrecosViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item.ItemID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item.Titulo)
        </th>
        <th>
            Preço Atual
        </th>
        <th>
            @Html.DisplayNameFor(model => model.novoPreco)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Item.ItemID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item.Preco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.novoPreco)
        </td>
    </tr>
}

</table>
