﻿@model IDEIBiblio.Models.Marketer

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Pretende bloquear o acesso a @Model.Nome?</h3>
<fieldset>
    <legend>Marketer</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuthKey)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuthKey)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Voltar à Listagem", "Index")
    </p>
}
