﻿@model IDEIBiblio.Models.Marketer

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes de @Html.DisplayNameFor(model => model.Nome)</h2>

<fieldset>
    <legend>Marketer</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuthKey)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuthKey)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Voltar à listagem", "Index")
</p>
