﻿@model IEnumerable<IDEIBiblio.Models.Erro>

@{
    ViewBag.Title = "Erros";
}

<h2>@ViewBag.Title</h2>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.When)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gravidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.When)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gravidade)
        </td>
    </tr>
}

</table>
