﻿@{
    ViewBag.Title = "Gerir";
}

<h2>@ViewBag.Title</h2>
<ul>
    <li>@Html.ActionLink("Gerir Generos...", "Index", "GerirGeneros")</li>
    <li>@Html.ActionLink("Gerir Autores...", "Index", "GerirAutores")</li>
    <li>@Html.ActionLink("Gerir Catálogo...", "Index", "GerirCatalogo")</li>
    <li>@Html.ActionLink("Gerir Marketers...", "Index", "GerirMarketers")</li>
    <li>@Html.ActionLink("Gerir Utilizadores...", "Index", "GerirUtilizadores")</li>
    <li>@Html.ActionLink("Ver sugestões de preços...", "Index", "VerTabelasPreco")</li>
    <li>@Html.ActionLink("Log de erros...", "Index", "LogErros")</li>


</ul>