﻿@model IDEIBiblio.ViewModels.CarrinhoComprasViewModel
@{
    ViewBag.Title = "Carrinho de Compras";
}
<script src="/Scripts/jquery-2.0.3.min.js"
type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {
                // Perform the ajax post
                $.post("/Carrinho/Remover", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }
                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
            }
        });
    });
</script>
<h3>
    <label>Conteúdo</label> do seu carrinho:
 </h3>
<p class="button">
    @Html.ActionLink("Checkout", "Dados", "Compra")
</p>
<div id="update-message">
</div>
<table>
    <tr>
        <th>
            Nome Produto
        </th>
        <th>
            Preco (unitário)
        </th>
        <th>
            Quantidade
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.ItemsCarrinho)
    {
        <tr id="row-@item.CarrinhoID">
            <td>
                @Html.ActionLink(item.Item.Titulo, "Detalhes", "Loja", new { id = item.ItemID }, null)
            </td>
            <td>
                @item.Item.Preco
            </td>
            <td id="item-count-@item.CarrinhoID">
                @item.Numero
            </td>
            <td>
                <a href="#" class="RemoveLink" data-id="@item.ItemID">Remover</a>
            </td>
        </tr>
    }
    <tr>
        <td>
            Total
        </td>
        <td>
        </td>
        <td>
        </td>
        <td id="cart-total">
            @Model.TotalCarrinho
        </td>
    </tr>
</table>