﻿@model IEnumerable<IDEIBiblio.Models.Item>

<label>Sugestões</label>
    @foreach (var item in Model.Take(4))
    {
        <table>
            <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.UrlImg)" width="40" height="80" />
                </td>
            </tr>
            <tr>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.Titulo)</p>
                </td>
            </tr>
        </table>
    }